name: Unit Tests
on:
  pull_request:
    branches:
      - master
jobs:
  test-cpp:
    name: C++ Unit Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Rust
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          rust-src-dir: "rust"

      - name: Install CMake and Build Tools
        run: |
            sudo apt-get update
            sudo apt-get install -y cmake build-essential

      - name: Build
        run: |
          mkdir build
          cd build
          cmake ..
          cmake --build .

      - name: Run Unit Tests
        run: |
          cd build
          make test

  test-rust:
    name: Rust Unit Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          rust-src-dir: "rust"
      - run: cd rust && cargo test --all-features